%require_tree
%h1 Все комментарии
%div.com_all
  - @comments.each do |comm|
    %div.com
      %div
        %strong Пользователь:
        = comm.user.email
      %div
        %strong Заголовок:
        = comm.com_email
      %div
        %strong Текст:
        = comm.body
    %br
%br
%br
= link_to 'Back', categories_path,  class: "btn btn-danger btn-lg"
