%body.index
  - image = Image.order("created_at desc").limit(3)
  = link_to image_tag("pea.png", :class => "enter"), controller: 'categories'
  #testCarousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#testCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#testCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#testCarousel"}
    .carousel-inner
      / Слайд 1
      .item.active
        - if image[0].path.nil?
          %img{src: image[0].img}
        - else
          - if image[0].path.first(5) == "https"
            %img{src: image[0].path}
          - else
            %img{src: "/"+image[0].path}
        .carousel-caption
      .item
        - if image[1].path.nil?
          %img{src: image[1].img}
        - else
          - if image[1].path.first(5) == "https"
            %img{src: image[1].path}
          - else
            %img{src: "/"+image[1].path}
        .carousel-caption
      .item
        - if image[2].path.nil?
          %img{src: image[2].img}
        - else
          - if image[2].path.first(5) == "https"
            %img{src: image[2].path}
          - else
            %img{src: "/"+image[2].path}
        .carousel-caption
    %a.left.carousel-control{"data-slide" => "prev", :href => "#testCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left
    / Кнопка, переход на следующий слайд с помощью атрибута data-slide="next"
    %a.right.carousel-control{"data-slide" => "next", :href => "#testCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right