@import "bootstrap-sprockets";
@import "bootstrap";
@media screen and (min-width: 240px) {
  * {
    margin: 0;
    padding: 0;
  }
  html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  table
  {
    margin: auto;
  }
  body{
    text-align: center;
    background-color: black;
    color : white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  img{
    width: 50%;
    height: 50%;
    text-align: center;
  }
  .auth{
    text-align: right;
    color:white;
    font-size: large;
    margin-bottom: 30px;

    position: absolute;
    right: 0;
  }
  .u_name{
    font-weight:bold;
  }
  .buttons{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
  .buttons div{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .category{
    width:15%;
    height:15%;
  }
  .images{
    width: 50%;
    height: 50%;
  }
  .dropdown-menu{
    background-color: darkkhaki;
  }
  .dropdown-menu input{
    width: 100%;
  }
  .com
  {
    background-color: white;
    text-align: center;
    border: 10px solid dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color : black;
    margin: 10px 10px 10px 10px;
  }
  .com_all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
  }
  input{
    color: black;
  }
  textarea{
    color: black;
  }
  #brick {
    width: 40px;
    height: 20px;
    background: #EE6B47;
    position: relative;
    cursor: pointer;
  }

  #path {
    outline: 1px solid #E8C48E;
    width: 540px;
    height: 20px;
  }
  .item img{
    margin:0 auto;
  }
  .carousel-inner
  {
    margin: auto 0;
    width:100%;
    height:100%;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img
  {
    width:80%;
    height:100%;
  }
  .new form{
    margin:0 auto;
    text-align: center;
  }
  .grid1 {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }
  .grid2 {
    width:100%;
    height:100%;
    display: grid;

  }
  .grid3{
    width:100%;
    display: grid;
    grid-template-columns: 100%;
  }
  .grid4{
    width:100%;
    display: grid;
    grid-template-columns: 100%;
  }
  .grid3 a img{
    margin: 0 auto;
    width: 100%;
    height:100%;
    border: 15px solid transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 50px;
  }
  .gall{
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #fff;
    background: {
      image: asset_url("texture.jpg");
    }
  }
  #testCarousel{
    height: 100%;
  }
  .item{
    height:100%;
  }


}
@media screen and (min-width: 680px) {
  * {
    margin: 0;
    padding: 0;
  }
  html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  table
  {
    margin: auto;
  }
  body{
    text-align: center;
    background-color: black;
    color : white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  img{
    width: 50%;
    height: 50%;
    text-align: center;
  }
  .auth{
    text-align: right;
    color:white;
    font-size: large;
    margin-bottom: 30px;

    position: absolute;
    right: 0;
  }
  .u_name{
    font-weight:bold;
  }
  .buttons{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
  .buttons div{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .category{
    width:15%;
    height:15%;
  }
  .images{
    width: 50%;
    height: 50%;
  }
  .dropdown-menu{
    background-color: darkkhaki;
  }
  .dropdown-menu input{
    width: 100%;
  }
  .com
  {
    background-color: white;

    text-align: center;
    border: 10px solid dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color : black;
    margin: 10px 10px 10px 10px;
  }
  .com_all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
  }
  input{
    color: black;
  }
  textarea{
    color: black;
  }
  #brick {
    width: 40px;
    height: 20px;
    background: #EE6B47;
    position: relative;
    cursor: pointer;
  }

  #path {
    outline: 1px solid #E8C48E;
    width: 540px;
    height: 20px;
  }
  .item img{
    margin:0 auto;
  }
  .carousel-inner
  {
    margin: auto 0;
    width:100%;
    height:100%;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img
  {
    width:80%;
    height:100%;
  }
  .new form{
    margin:0 auto;
    text-align: center;
  }
  .grid1 {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }
  .grid2 {
    width:100%;
    height:100%;
    display: grid;

  }
  .grid3{
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid4{
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid3 a img{
    margin: 0 auto;
    width: 100%;
    height:100%;
    border: 15px solid transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 50px;
  }
  .gall{
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #fff;
    background: {
      image: asset_url("doska12.jpg");
    }
  }
  #testCarousel{
    height: 100%;
  }
  .item{
    height:100%;
  }
  .addi{
    text-align: center;
    width:200px;
    position: absolute;
    top: 105%;
    left: 45%;
  }
}

@media screen and (min-width: 1024px) {

  * {
    margin: 0;
    padding: 0;
  }
  html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  table
  {
    margin: auto;
  }
  body{
    text-align: center;
    background-color: black;
    color : white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  img{
    width: 50%;
    height: 50%;
    text-align: center;
  }
  .auth{
    text-align: right;
    color:white;
    font-size: large;
    margin-bottom: 30px;

    position: absolute;
    right: 0;
  }
  .u_name{
    font-weight:bold;
  }
  .buttons{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .buttons div{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .category{
    width:15%;
    height:15%;
  }
  .images{
    width: 50%;
    height: 50%;
  }
  .dropdown-menu{
    background-color: darkkhaki;
  }
  .dropdown-menu input{
    width: 100%;
  }
  .com
  {
    background-color: white;
    text-align: center;
    border: 10px solid dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color : black;
    margin: 10px 10px 10px 10px;
  }
  .com_all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
  }
  input{
    color: black;
  }
  textarea{
    color: black;
  }
  #brick {
    width: 40px;
    height: 20px;
    background: #EE6B47;
    position: relative;
    cursor: pointer;
  }

  #path {
    outline: 1px solid #E8C48E;
    width: 540px;
    height: 20px;
  }
  .item img{
    margin:0 auto;
  }
  .carousel-inner
  {
    margin: auto 0;
    width:100%;
    height:100%;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img
  {
    width:80%;
    height:100%;
  }
  .new form{
    margin:0 auto;
    text-align: center;
  }
  .grid1 {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }
  .grid2 {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
  }
  .grid3{
    width:100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .grid4{
    width:100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .grid3 a img{
    margin: 0 auto;
    width: 100%;
    height:100%;
    border: 15px solid transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 50px;
  }
  .gall{
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #fff;
    background: {
      image: asset_url("doska12.jpg");
    }
  }
  #testCarousel{
    height: 100%;
  }
  .item{
    height:100%;
  }
.addi{
  text-align: center;
  width:200px;
  position: absolute;
  top: 73%;
  left: 45%;
}
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
  .first{
    background-repeat: no-repeat;
    background-image: image-url("How.jpg");
    background-size: cover;
    height: 500px;
    position: relative;
  }
  .second{

  }
  .c-hamburger {
    display: block;
    position: absolute;
    right: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }

  .c-hamburger:focus {
    outline: none;
  }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white;
  }

  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
    content: "";
  }

  .c-hamburger span::before {
    top: -20px;
  }

  .c-hamburger span::after {
    bottom: -20px;
  }
  .c-hamburger--rot {
    background-color: #28aadc;
  }
.lang{
  position: absolute;
  left: 0;
}
  .rc-anchor rc-anchor-normal rc-anchor-light{
    text-align: center;
  }



}
