@import "bootstrap-sprockets";
@import "bootstrap";
img{
  width: 128px;
  height: 128px;
}
table
{
  margin: auto;
}
body{
  text-align: center;
  background-color: darkkhaki;
}
.auth{
  text-align: right;
  background-color: khaki;
}
.u_name{
  font-weight:bold;
}