%div.auth
  - if user_signed_in?
    %span.u_name
      = link_to image_tag(current_user.avatar.url, class: "avatar"), edit_user_registration_path
      %br
      %p.username
        #{current_user.email}
      %br
  - else

    = link_to t(".enterauth"), new_user_session_path

    или #{link_to t(".reg"), new_user_registration_path}
